.articleMain {
  padding: 1rem 4rem;
  background: #5e4b56;
  max-width: 700px;
  margin: 3vh auto;
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.articleBody {
  padding: 1rem;
}
.articleBody h2,
.articleBody h3,
.articleBody h4,
.articleBody p {
  padding: 0.75rem;
  background-color: #e1e2e2;
}
.articleBody p {
  padding: 1rem;
  background-color: #e1e2e2;
}

.articleMetrics {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  background-color: #e1e2e2;
  max-width: 300px;
  margin: 0 auto;
}

.comments {
  font-size: 1.25rem;
  align-self: center;
  justify-self: center;
  margin: 0 auto;
  letter-spacing: 2px;
}
.voting {
  margin: 0 auto;
  align-self: center;
}

.commentsSection {
  background: #003844;
  max-width: 600px;
  margin: 1px auto;
  padding: 1rem;
}

@media only screen and (max-width: 800px) {
  .articleMain {
    padding: 1rem 0;
  }
}
