.articleCard {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  max-width: 800px;
}

.articlePreview {
  max-width: 600px;
  padding: 1rem;
}

.articleMetrics {
  min-width: fit-content;
  justify-self: flex-end;
  align-self: center;
  padding: 1rem;
  display: flex;
}
