.articleMain {
  padding: 1rem 4rem;
  background: #5e4b56;
  max-width: 800px;
  margin: 3vh auto;
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.articleBody {
  padding: 1rem;
}
.articleBody h2,
.articleBody h3,
.articleBody h4,
.articleBody p {
  padding: 0.75rem;
  background-color: #e1e2e2;
}
.articleBody p {
  padding: 1rem;
  background-color: #e1e2e2;
}

.articleBody button {
  margin-top: 1rem;
}

.articleMetrics {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  background-color: #e1e2e2;
  max-width: 300px;
  margin: 0 auto;
}

.comments {
  font-size: 1.25rem;
  align-self: center;
  justify-self: center;
  margin: 0 auto;
  letter-spacing: 2px;
}
.voting {
  margin: 0 auto;
  align-self: center;
}

.commentsSection {
  background: #003844;
  max-width: 800px;
  margin: 1px auto;
  padding: 1rem;
}

@media only screen and (max-width: 800px) {
  .articleMain {
    padding: 1rem 0;
  }
}

.modal {
  margin-top: 50px;
  font-size: 1rem;
  min-width: 200px;
  background: #e1e2e2;
  border: 3px solid#fb8122;
}

.modal .header {
  width: 100%;
  border-bottom: 1px solid#fb8122;
  font-size: 1.5rem;
  text-align: center;
  padding: 5px;
}
.modal .content {
  padding: 10px 5px;
}

.modal .close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 4px 5px;
  line-height: 20px;
  right: -20px;
  top: 40px;
  font-size: 2rem;
  background: #2c2526;
  border-radius: 18px;
  border: 2px solid #fb8122;
  outline: none;
}
