.commentsHeader {
  display: flex;
  max-width: 500px;
  margin: 5px auto;
  padding: 1rem;
  justify-content: space-between;
  background-color: #e1e2e2;
}
.commentCard {
  max-width: 500px;
  display: flex;
  padding: 0.4rem;
  margin: 8px auto;
  background-color: #e1e2e2;
  justify-content: space-between;
}
.commentBody {
  text-align: left;
}

.commentFilter {
  text-align: right;
  margin-right: 2rem;
}

.commentVotes {
  align-self: center;
}

.deleteBtn {
  float: right;
}

@media only screen and (max-width: 800px) {
  .commentFilter {
    margin-left: 0;
  }
}
