.navBar {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background: #003844;
  margin: 1rem 2rem;
  font-size: 1.5rem;
}

.recent {
  align-self: center;
  justify-self: center;
  text-decoration: none;
  color: #e1e2e2;
}

.topics {
  align-self: center;
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  color: #003844;
}

.topic {
  padding: 0 1rem;
  color: #e1e2e2;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}
.recent:hover,
.topic:hover {
  color: #fb8122;
}

.topic:visited {
  text-decoration: none;
}

@media only screen and (max-width: 800px) {
  .navBar {
    margin: 1rem 0;
    font-size: auto;
  }
  .topic {
    padding: 0.3rem;
  }
}
