/* #19181A, #479761, #cebc81, #a16e83, #b19f9e */
* {
  margin: 0;
  box-sizing: border-box;
}

.App {
  margin: 0 auto;
  max-width: 800px;
  background-color: #b19f9e;
}

header {
  height: 20vh;
  font-size: 3rem;
  text-align: center;
  border: 1px solid black;
}
ul {
  list-style-type: none;
  padding: 0;
}
